@page "/"

<h1>Welcome to the Super Library!</h1>
<p>Enjoy your day with books!</p>

<div class="container">
    <div class="image-container">
        <img src="images/sjhti0cj.jpg" alt="Library Image" />
    </div>
</div>

<style>
    .image-container {
        text-align: center;
        margin-top: 20px;
    }
</style>
